body {
  text-align: center;

  header {
    text-align: left;
  }

  main {
    text-align: left;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 0 20px;
    box-sizing: border-box;

    @media only screen and (max-width: 768px) {
      margin: 25px auto;
    }
  }

  &.registrations, &.sessions {
    main {
      max-width: 600px;
    }
  }
}
