header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-bottom: 1px $text solid;

  @media only screen and (max-width: 768px) {
    padding: 0 20px;
    height: 80px;
  }
}
